{{ define "main" }}
<div class="relative flex min-h-full flex-col justify-center lg:py-12 py-24 sm:px-6 lg:px-8 xl:flex-row xl:items-start xl:justify-center">
    <section class="prose mx-auto w-full {{ if .Params.toc }}max-w-6xl{{ else }}max-w-3xl{{ end }} flex-col px-8 prose-hr:w-full lg:flex lg:px-8" aria-labelledby="main-content-heading">

      {{ if .Params.landing }}
      <figure class="w-full">
        <img class="w-full" src="/media/images/hero.webp" alt="A collaged image showing blimps, trawlers, and drones catching data and digital devices in the sea and in the air" role="img">
        {{ with .Params.landing_caption }}
        <figcaption class="mt-3 text-sm text-gray-600 text-right italic">{{ . | markdownify }}</figcaption>
        {{ end }}
      </figure>
      {{ end }}

      {{ partial "breadcrumbs.html" . }}

        <article class="flex {{ if .Params.toc }}max-w-2xl{{ else }}w-full{{ end }} flex-col items-start justify-between border-b border-gray-300">
            <h1 class="mb-6 mt-2 text-4xl text-gray-900 leading-[1.15]">
                {{ .Page.Params.title }}
            </h1>

            {{ if or .Params.author .Params.authors }}
            <div class="my-6 w-full border-l-2 border-blue-5 pl-4">
                {{ if .Params.authors }}
                  {{ range $index, $author := .Params.authors }}
                    <div class="font-semibold text-lg text-gray-900 mb-2">{{ $author.name }}</div>
                    {{ with $author.summary }}
                      <div class="text-gray-500 text-base leading-[1.15]">{{ . }}</div>
                    {{ end }}
                    {{ with $author.bio }}
                      <div class="text-gray-400 text-base leading-[1.15]">{{ . }}</div>
                    {{ end }}
                    {{ if lt $index (sub (len $.Params.authors) 1) }}
                      <hr class="border-gray-300" aria-hidden="true" />
                    {{ end }}
                  {{ end }}
                {{ else if .Params.author }}
                  <div class="font-semibold text-lg text-gray-900 mb-2">{{ .Params.author }}</div>
                  {{ with .Params.author_summary }}
                    <div class="text-gray-500 text-base leading-[1.15]">{{ . }}</div>
                  {{ end }}
                  {{ with .Params.author_bio }}
                    <div class="text-gray-400 text-base leading-[1.15]">{{ . }}</div>
                  {{ end }}
                {{ end }}
            </div>
            {{ end }}
        </article>

        {{ if .Params.toc }}

        <div class="w-full flex flex-row gap-10 mt-6">
          <article class="prose prose-a:text-blue-5 prose-a:visited:text-purple-800 prose-a:hover:text-blue-900 w-full max-w-2xl">
              {{ .Content }}
          </article>
          {{ partial "toc-sidebar.html" . }}
        </div>

        {{ else }}
        <div class="w-full flex flex-row mt-4">
          <article class="prose prose-a:text-blue-5 prose-a:visited:text-purple-800 prose-a:hover:text-blue-900 w-full">
              {{ .Content }}
          </article>
        </div>
        {{ end }}

        {{ partial "pagination.html" . }}

    </section>
</div>
{{ end }}